@charset "ISO-8859-1";
body {
  font-family: Verdana, Arial, sans-serif;
  background-color: #996699;
}
#wrapper {
  background-color: #cc9966;
  color: #000066;
  width: 100%;
}
nav {
  float: left;
  width: 100%;
}
nav ul {
  list-style-type: none;
  padding: 10px;
  width: 100%;
}

nav ul li {
  float: left;
}
nav a {
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}
#main {
  margin-left: 200px;
  background-color: #993300;
  color: #000000;
  width: 100%;
}
header {
  background-color: #cc9999;
  color: #00005d;
  font-size: 150%;
  padding: 10px 10px 10px 155px;
  background-image: url(logo.jpg);
  background-repeat: no-repeat;
  height: 150px;
}
h1 {
  text-align: center;
}

h2 {
  color: #869dc7;
  font-family: calibri, sans-serif;
}
.content {
  padding: 20px 20px 0 20px;
}

#floatright {
  margin: 5px;
  float: right;
}

footer {
  font-size: 16px;
  text-align: center;
  clear: right;
  padding-bottom: 20px;
  color: #ffffff;
}
